
.App-header {
  background: linear-gradient(-45deg, #6a11cb, #2575fc, #00c9ff, #92fe9d);
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;
  color: white;
  padding: 40px 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: background 0.5s ease, box-shadow 0.5s ease;
}

.App-header:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.header-title {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  animation: fadeIn 1.5s ease-in-out;
  transition: color 0.3s ease;
}

.header-subtitle {
  font-size: 1.4rem;
  font-weight: 300;
  margin-top: 5px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: color 0.3s ease;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.question-transition {
  animation: fadeIn 1s ease-in-out;
}
